spring:
  application:
    name: freedom

  datasource:
    url: jdbc:mysql://localhost:3306/freedom?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: freedom
    password: freedom
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: create-drop
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false
